.custom-container {
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.center-text-reg {
  text-align: center;
}

.event-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-image {
  width: 100%;
  height: auto;
}

#botoncarga {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#botoncarga:hover {
  background-color: #0056b3;
}

.nombreEvento {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box {
  display: flex;

  align-items: center;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
}

#btnSave {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#btnSave:hover {
  background-color: #0056b3;
}

.custom-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-btn i {
  margin-right: 10px;
}

.custom-btn:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  color: #007bff;
}

ul li a:hover {
  text-decoration: underline;
}
