
                     table#miTabla tbody tr td {
                         color: black;
                     }
             
                     table#miTabla thead th {
                         color: black;
                         font-weight: bold;
                     }
             
                     .container-scroller {
                         min-height: 100vh;
                     }
             
                     .content-wrapper {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         min-height: 100vh;
                         background-color: #9bbee8; /* Color de fondo más claro */
                     }
             

             
             
             
                     .dataTables_wrapper .dataTables_filter input {
                     color: black; /* Cambia el color del texto del cuadro de búsqueda a negro */
                     background-color: white; /* Cambia el color de fondo del cuadro de búsqueda a blanco */
                     border: 1px solid #aaa;
                     border-radius: 3px;
                     padding: 0px;
                     margin-left: 3px;
                     margin-bottom: 14px;
                     border: 2px solid black;
                     border-radius: 6px;
                     }
             
                     .card {
                         max-width: 1200px;
                         width: 100%;
                         padding: 20px;
                         border-radius: 10px;
                         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                         background-color: #225496;
                         color: #FFFFFF;
                         margin-left: auto;
                         margin-right: auto;
                         margin-top: 20px;
                     }
             
                     .tabla-title {
                         font-size: 30px;
                         font-weight: bold;
                         margin-bottom: 20px;
                         text-align: center;
                     }
             
                     .img-table {
                         width: 20px;
                         height: 20px;
                     }
             
                     .addIncidencia {
                         display: block;
                         width: 200px;
                         margin: 20px auto;
                         padding: 10px;
                         border: none;
                         border-radius: 5px;
                         background-color: #00913f;
                         color: white;
                         font-size: 16px;
                         text-align: center;
                         cursor: pointer;
                     }
             
                         /* Cambiar el color del texto de los controles de paginación y del texto "Mostrando de X a Y de Z entradas" a blanco */
                 .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
                 .dataTables_wrapper .dataTables_paginate .paginate_button.next,
                 .dataTables_info {
                     color: white !important;
                 }
             