
  
  .cardEvent {
    border: none; /* Cambiar el borde de las tarjetas */
    border-radius: 10px; /* Agregar bordes redondeados */
    transition: transform 0.3s ease; /* Agregar transición al pasar el mouse */
    position: relative; /* Establecer posición relativa para el contenedor de la tarjeta */
    margin-bottom: 20px;
    background-color: white;
    color: black;
    
  }
  
  
  .cardEvent:hover {
    transform: translateY(-10px); /* Agregar efecto de levantamiento al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .form-control {
    border-color: #ccc; /* Cambiar el color del borde del formulario */
    border-radius: 5px; /* Agregar bordes redondeados al formulario */
  }
  
  .btn-primary {
    background-color: green; /* Cambiar el color de fondo del botón */
    border-color: transparent; /* Cambiar el color del borde del botón */
    
  }
  
  .btn-primary:hover {
    background-color:#2c5c9a ; /* Cambiar el color de fondo del botón al pasar el mouse */
    border-color: transparent; /* Cambiar el color del borde del botón al pasar el mouse */
  
  }
  .page-item.active .page-link {
    background-color: #2c5c9a; /* Cambia el color de fondo de la página activa */
    border-color: transparent; /* Cambia el color del borde de la página activa */
    color: white; /* Cambia el color del texto de la página activa */
  }
  .page-link {
    background-color: #fff; /* Cambia el color de fondo de la página activa */
    border-color: transparent; /* Cambia el color del borde de la página activa */
 /* Cambia el color del texto de la página activa */
  }
  .page-item{
    background-color: #fff;
    border-color: transparent; /* Cambia el color del borde de la página activa */
 /* Cambia el color del texto de la página activa */
  }
  .stretched-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto padre */
  }
  .btn-bottom-right {
    position: absolute; /* Establecer posición absoluta */
    bottom: 0; /* Alinear al fondo */
    left: 0; /* Alinear a la izquierda */
    width: 100%; /* Ocupar todo el ancho */
    text-align: center; /* Centrar el texto horizontalmente */
    background-color: #5cb85c;
    border: none;
  }
  .topBtn:hover{
    background-color:#183d6c ;
  }